<div class="row contenedor overflow-auto">
  <section class="col-1 side">
    <app-nav-bar></app-nav-bar>
  </section>

  <section class="col-11 px-5 pe-3">
    <div class="container-fluid mt-2 p-md-4 p-3 bg-white">
      <div class="m-3">
        <h1>{{ 'audit.audit' | translate }}</h1>
      </div>

      <form [formGroup]="form">
        <div class="row gy-3">
          <!-- fecha 1 -->
          <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
            <mat-label>{{ 'audit.startdate' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startDate"
              [max]="maxDate"
              #startDate
            />

            <mat-hint>{{ 'audit.date' | translate }}</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('startDate')?.hasError('required')">
              {{ 'audit.required' | translate }}
            </mat-error>
          </mat-form-field>

          <!-- fecha 2 -->
          <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
            <mat-label>{{ 'audit.enddate' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="date"
              formControlName="endDate"
              [min]="picker"
            />
            <mat-hint>{{ 'audit.date' | translate }}</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="date"
            ></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
            <mat-error *ngIf="form.get('endDate')?.hasError('required')">
              {{ 'audit.required' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('endDate')?.hasError('endDate')">
              *Esta fecha no debe ser menor a la inicial
            </mat-error>
          </mat-form-field>

          <!-- Entidad -->
          <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
            <mat-label>{{ 'audit.entity' | translate }}</mat-label>
            <mat-select formControlName="entity" name="selection">
              <mat-option value="one">{{
                'audit.users' | translate
              }}</mat-option>
              <mat-option value="two">{{
                'audit.profiles' | translate
              }}</mat-option>
              <mat-option value="two">{{
                'audit.products' | translate
              }}</mat-option>
              <mat-option value="two">{{
                'audit.customers' | translate
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('entity')?.hasError('required')">
              {{ 'audit.required' | translate }}
            </mat-error>
          </mat-form-field>

          <!-- Operacion -->
          <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
            <mat-label>{{ 'audit.operation' | translate }}</mat-label>
            <mat-select formControlName="operation" name="selection">
              <mat-option value="one">{{ 'audit.add' | translate }}</mat-option>
              <mat-option value="two">{{
                'audit.delete' | translate
              }}</mat-option>
              <mat-option value="thre">{{
                'audit.update' | translate
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('operation')?.hasError('required')">
              {{ 'audit.required' | translate }}
            </mat-error>
          </mat-form-field>

          <!-- Usuario -->
          <mat-form-field class="col-xl-3 col-lg-4">
            <mat-label>{{ 'audit.user' | translate }}</mat-label>
            <input matInput type="email" formControlName="user" />

            <!-- Mensajes de errores -->
            <mat-error *ngIf="form.get('user')?.hasError('email')">
              {{ 'audit.errorEmail' | translate }}
            </mat-error>
          </mat-form-field>

          <!-- Buscar -->
          <section class="col-xl-1 col-lg-1 mt-4">
            <button (click)="searchParams()" [disabled]="form.invalid">
              <i class="bi bi-search button"></i>
            </button>
            <button (click)="clearParams()" [disabled]="form.invalid">
              <i class="bi bi-trash-fill button"></i>
            </button>
          </section>
        </div>
      </form>
      <div class="table mt-5 border shadow-lg">
        <app-table [dataSource]="data"></app-table>
      </div>
    </div>
  </section>
</div>
