<div>
  <app-nav-bar></app-nav-bar>
</div>

<div class="container mt-5">
  <form action="">
    <div class="row gx-5">
      <div class="col-3">
        <mat-form-field>
          <mat-label>{{'audit.startdate' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="starDate" />
          <mat-hint>{{'audit.date' | translate}}</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>{{'audit.enddate' | translate}}</mat-label>
          <input matInput [matDatepicker]="date" [formControl]="endDate" />
          <mat-hint>{{'audit.date' | translate}}</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="date"
          ></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>{{'audit.operation' | translate}}</mat-label>
          <mat-select [(ngModel)]="operation" name="selection">
            <mat-option value="one">{{'audit.operation1' | translate}}</mat-option>
            <mat-option value="two">{{'audit.operation2' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-label>{{'audit.entity' | translate}}</mat-label>
          <mat-select [(ngModel)]="entity" name="selection">
            <mat-option value="one">{{'audit.entity1' | translate}}</mat-option>
            <mat-option value="two">{{'audit.entity2' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-1 mt-2 buttons">
        <i class="bi bi-search button" (click)="searchParams()"></i>
        <i class="bi bi-trash button mt-2" (click)="clearParams()"></i>
      </div>
    </div>
  </form>

  <app-table [dataSource]="data"></app-table>
</div>
