.table {
  background-color: transparent !important;
  height: 60vh;
  width: 100%;
  box-shadow: 0px 0px 0px;
}

.contenedor {
  min-width: 500px;
}

mat-paginator {
  background-color: transparent !important;
}

.bi{
  font-size: 2rem;
  cursor: pointer;
  
}