<div class="contenedor">
  <table
    mat-table
    [dataSource]="tableDataSource"
    class="mat-elevation-z8 table"
    aria-label="tabla de auditoria"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'orderTable.order' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'orderTable.customer' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'orderTable.products' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.products }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'orderTable.totalPrice' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'orderTable.actions' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <i class="bi bi-pencil-square" (click)="updated(element.orderId)"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10]"
    aria-label="Select page of periodic elements"
  ></mat-paginator>
</div>
