<div class="container-form">
  <div class="encabezado mb-2">
    <h1 *ngIf="mode === 'add'">{{ 'form.add' | translate }}</h1>
    <h1 *ngIf="mode === 'edit'">{{ 'form.edit' | translate }}</h1>
    <i
      *ngIf="mode === 'edit'"
      class="bi bi-power"
      [ngClass]="{ green: statusUser === true }"
      (click)="openDialog()"
    ></i>
  </div>
  <form [formGroup]="form">
    <div class="row gx-4">
      <mat-form-field class="col-md-6">
        <mat-label class="">{{ 'form.email' | translate }}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="form.get('email').hasError('email')">
          {{ 'form.errorEmail' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label class="">{{ 'form.name' | translate }}</mat-label>
        <input type="name" matInput formControlName="name" placeholder="" />
        <mat-error
          *ngIf="
            form.get('name').hasError('name') &&
            !form.get('name').hasError('required')
          "
        >
        </mat-error>
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            form.get('name')?.hasError('textOnly') && form.get('name').dirty
          "
        >
          {{ 'form.textOnly' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>{{ 'form.profile' | translate }}</mat-label>
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
        <mat-select formControlName="options" [(value)]="options.name">
          <mat-option *ngFor="let op of options" [value]="op.profileId"
            >{{ op.code}}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <!-- Botones -->
  <div class="buttons">
    <button
      class="btn btn-danger button"
      [disabled]="form.invalid || buttonStatus"
      (click)="action()"
    >
      {{ 'form.save' | translate }}
    </button>
    <button
      type="button"
      *ngIf="mode === 'edit'"
      class="btn btn-warning button"
      (click)="changeMode()"
    >
      {{ 'form.plus' | translate }}
    </button>
  </div>
</div>
