.plus{
    height: 75px;
    line-height: 80px;  
    width: 75px;  
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 80%;
    background-color: #fd9f08;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .circle {
      margin-left: 26em;
  }