<nav>
  <ul>
    <li>
      <a routerLink="/admin/users">{{ 'navbar.user' | translate }}</a>
    </li>
    <li>
      <a routerLink="/query/search">{{ 'navbar.audit' | translate }}</a>
    </li>
    <li>
      <a routerLink="/admin/profiles">{{ 'navbar.profiles' | translate }}</a>
    </li>
    <li>
      <button class="btn btn-danger" (click)="clickChangePassword()">
        Cambiar contraseña
      </button>
    </li>
  </ul>
</nav>
<app-change-password
  *ngIf="changePassword"
  [changePassword]="changePassword"
  (clickButton)="receiveChange($event)"
></app-change-password>
