$background-color-nav: #000000;
$color-balck: rgb(255, 255, 255);
$color-red: #e95b5b;


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: $background-color-nav;
    overflow: hidden;
    transition: 300ms;
    z-index: 80;

    &:hover {
        width: 250px;
    }

    &:hover ul .li a .nav-item {
        opacity: 1;
        transform: translateX(0);
    }

    ul {
        list-style: none;
        line-height: 50px;
        margin-left: 1rem;

        .li {
            margin-left: 1rem;
            font-style: none;

            a {
                position: relative;
                left: -3.5rem;
                color: $color-balck;
                width: 300px;
                font-size: 20px;
                font-weight: bold;
                display: table;
                text-decoration: none;
                overflow: hidden;
                transition: 300ms;
                cursor: pointer;
            

                &:hover .fas{
                    color: $color-balck;
                }

                .fas {
                    position: relative;
                    font-size: 30px;
                    color: $color-red;
                    transition: 300ms;
                }

                .nav-item {
                    position: relative;
                    margin-left: 35px;
                    transition: 1300ms;
                    display: inline-block;
                    transform: translateX(200px);
                }
            }

        }

        .settings {

            .password {
                position: absolute;
                left: 80px;
                width: 100px;
                min-height: 100px;
                transform: translateX(200px);
                transition: 300ms;
                z-index: 100;
                overflow: visible;



                a {
                    margin-left: 2.5rem;

                    .fas {
                        font-size: 20px;
                    }

                    .nav-item {
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }
            }

            &:hover .password {
                visibility: visible;
                transform: translateX(0);
            }
        }
    }
}