//Variables
$background-color: aliceblue;
$rgb-color: rgb(209, 209, 209, .3);
$rgb_2-color: rgb(24, 22, 22, 0.5);
$rgb_3-color: rgb(26, 25, 25, 0.5);
$rgb_4-color: rgb(206, 80, 80);
$rgb_5-color: rgb(22, 21, 21, 0.3);
$background-color-btn: #ffc003;
$color-button: white;
$background-color-btn-hover: #efbd3d;
$color-power-true: #58D68D;
$color-power-false: #E74C3C;
$background-color-btn-hover: #131312;
$color-red: #e95b5b;
$background-color-li: rgb(213, 220, 220, 0.5);
$background-color-hover: white; 
$background-color-nav: #000000;
$color-balck: rgb(255, 255, 255);
$h1: black;
$p: #acacac;
$info: white;
