<div class="contenedor">
  <div class="card rounded">
    <div class="header">
      <h1>Cambio de contraseña</h1>
      <i (click)="sendEvent()" class="bi bi-x"></i>
    </div>
    <div class="mt-4">
      <form [formGroup]="form">
        <!--Contraseña actual  -->
        <mat-form-field>
          <mat-label>Contraseña Actural</mat-label>
          <input
            matInput
            [type]="currentPassword ? 'password' : 'text'"
            formControlName="currentPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="currentPassword = !currentPassword"
          >
            <mat-icon>{{
              currentPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Contraseña nueva -->
        <mat-form-field>
          <mat-label>Contraseña Actural</mat-label>
          <input
            matInput
            [type]="newPassword ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="newPassword = !newPassword"
          >
            <mat-icon>{{
              newPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Confirmacion de nueva contraseña -->
        <mat-form-field>
          <mat-label>Contraseña Actural</mat-label>
          <input
            matInput
            [type]="confirmNewPassword ? 'password' : 'text'"
            formControlName="confirmNewPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="confirmNewPassword = !confirmNewPassword"
          >
            <mat-icon>{{
              confirmNewPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <button
        class="btn btn-dark"
        [disabled]="form.invalid"
        (click)="sendNewPassword()"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
