<div class="contenedor">
  <div class="card p-lg-5 p-4 rounded">
    <div class="header">
      <h1>{{ 'changePassword.changePassword' | translate }}</h1>
      <i (click)="sendEvent()" class="bi bi-x"></i>
    </div>
    <div class="mt-4">
      <form [formGroup]="form">
        <!--Contraseña actual  -->
        <mat-form-field>
          <mat-label>{{
            'changePassword.currentPassword' | translate
          }}</mat-label>
          <input
            matInput
            [type]="currentPassword ? 'password' : 'text'"
            formControlName="currentPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="currentPassword = !currentPassword"
          >
            <mat-icon>{{
              currentPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>

          <!-- Errores -->
          <mat-error *ngIf="form.get('currentPassword')?.hasError('required')">
            {{ 'changePassword.required' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- Contraseña nueva -->
        <mat-form-field>
          <mat-label>{{ 'changePassword.newPassword' | translate }}</mat-label>
          <input
            matInput
            [type]="newPassword ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="newPassword = !newPassword"
          >
            <mat-icon>{{
              newPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>

          <!-- Errores -->
          <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            {{ 'changePassword.required' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('newPassword')?.hasError('minLength')">
            {{ 'changePassword.minLength' | translate }}
          </mat-error>
          <mat-hint
            *ngIf="form.get('newPassword')?.hasError('correctPassword')"
          >
            {{ 'changePassword.passwordInstructions' | translate }}
          </mat-hint>
        </mat-form-field>

        <!-- Confirmacion de nueva contraseña -->
        <mat-form-field>
          <mat-label>{{
            'changePassword.confirmNewPassword' | translate
          }}</mat-label>
          <input
            matInput
            [type]="confirmNewPassword ? 'password' : 'text'"
            formControlName="confirmNewPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="confirmNewPassword = !confirmNewPassword"
          >
            <mat-icon>{{
              confirmNewPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>

          <!-- Errores -->
          <mat-error
            *ngIf="form.get('confirmNewPassword')?.hasError('required')"
          >
            {{ 'changePassword.required' | translate }}
          </mat-error>
          <mat-error
            *ngIf="form.get('confirmNewPassword')?.hasError('minLength')"
          >
            {{ 'changePassword.minLength' | translate }}
          </mat-error>
          <mat-error
            *ngIf="form.get('confirmNewPassword')?.hasError('passwordEquality')"
          >
            {{ 'changePassword.passwordEquality' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <button
        class="btn btn-danger"
        [disabled]="form.invalid"
        (click)="sendNewPassword()"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
