$background-color-btn: #ffc003;
$color-button: white;
$background-color-btn-hover: #efbd3d;

.container-form {
    height: 100%;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    form{
        height: 600px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .button {
            height: 50px;
        }

        .btn-warning {
            font-size: 2em;
            background-color: $background-color-btn;
            color: $color-button;
            border: none;
            transition: 300ms;

            &:hover {
                background-color: $background-color-btn-hover;
                color: $color-button;
                transform: rotate(360deg);
            }
        }
    }
}


/* Objeto */

.object{
    border-radius: 1rem;
    min-height: 150px;

    .title{
        position: relative;
        top: -10px;
        left: 20px;
        border-radius: 1.5rem;
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: 150%;
        color: rgb(0, 0, 0);
    }

    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}