<div class="container-form">
  <!-- Encabezdo -->
  <div class="encabezado mb-2">
    <h1 *ngIf="mode === 'add'">{{ 'formProfile.add' | translate }}</h1>
    <h1 *ngIf="mode === 'edit'">{{ 'formProfile.edit' | translate }}</h1>
  </div>

  <!-- Formulario -->
  <form [formGroup]="form">
    <div class="row gx-4 gy-2">
      <!-- Nombre -->
      <mat-form-field class="col-lg-6">
        <mat-label>{{ 'formProfile.name' | translate }} </mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="name"
        />

        <mat-error *ngIf="form.get('name')?.hasError('required')">
          {{ 'formProfile.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Descripcion -->
      <mat-form-field class="col-lg-6">
        <mat-label>{{ 'formProfile.description' | translate }} </mat-label>
        <input
          type="text"
          matInput
          [errorStateMatcher]="matcher"
          formControlName="description"
        />

        <mat-error *ngIf="form.get('description')?.hasError('required')">
          {{ 'formProfile.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Objeto -->
      <div>
        <section *ngFor="let rol of roles" class="mt-5 object border">
          <span class="border p-2 title">
            <mat-slide-toggle
              [id]="rol.id"
              (change)="toggle($event, rol.id)"
              [checked]="rol.selected"
            >
            </mat-slide-toggle>
            {{ rol.name }}
          </span>

          <!-- Items de cada modulo -->
          <div class="items mt-3">
            <section *ngFor="let item of rol.items">
              <div *ngIf="item" class="mx-5">
                <h3>
                  <mat-slide-toggle
                    [id]="item.id"
                    (change)="toggle($event, item.id)"
                    [checked]="item.selected"
                  ></mat-slide-toggle>
                  {{ item.name }}
                </h3>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </form>

  <!-- Botones -->
  <div class="buttons">
    <button
      class="btn btn-danger button"
      [disabled]="form.invalid || buttonStatus"
      (click)="action()"
    >
      {{ 'formProfile.save' | translate }}
    </button>
    <button
      type="button"
      *ngIf="mode === 'edit'"
      class="btn btn-warning button"
      (click)="changeMode()"
    >
      {{ 'formProfile.plus' | translate }}
    </button>
  </div>
</div>
