<div>
    <div class="encabezado mb-2">
        <h1>{{'formprofile.add' | translate}}</h1>
    </div>
    
    <form >
        <div class="row gx-4">
            <mat-form-field class="col-6">
                <mat-label class="">{{'formprofile.name' | translate}} * </mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  placeholder=""
                />
               
              </mat-form-field>   

              <mat-form-field class="col-6">
                <mat-label class="">{{'formprofile.description' | translate}} * </mat-label>
                <input
                  type="text"
                  matInput
                  [errorStateMatcher]="matcher"
                  placeholder=""
                />
               
              </mat-form-field>   
        </div>
    </form>
</div>