<div>
    <div class="encabezado mb-2">
        <h1>{{'formprofile.add' | translate}}</h1>
    </div>
    
    <form>
      <div class="row gx-4">
        <mat-form-field class="col-6">
          <mat-label class="">Nombre * </mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher" placeholder="" />
  
        </mat-form-field>
  
        <mat-form-field class="col-6">
          <mat-label class="">Descripcion* </mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher" placeholder="" />
  
        </mat-form-field>
  
        <div class="col-12">
          <h3>
            <mat-slide-toggle></mat-slide-toggle>
            Perfil de proveedor
          </h3>
        </div>
        <div *ngFor="let rol of roles" class="mb-3">
          <mat-accordion multi>
            <mat-expansion-panel class="border border-1">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h1>
                    <mat-slide-toggle [id]="rol.id" (change)="toogle($event)"></mat-slide-toggle>
                    {{rol.name}}
                  </h1>
                </mat-panel-title>
              </mat-expansion-panel-header>
  
              <!-- Items de cada modulo -->
            <section *ngFor="let item of rol.items" >
  
              <!-- Items solo con itemChild -->
                <div *ngIf="item?.itemChild" class="mx-2 mt-4 p-3 border border-2 items">
                  <div>
                      <h2  class="border border-2 p-2 bg-white">
                        <mat-slide-toggle></mat-slide-toggle>
                        {{item.name}}
                      </h2>
  
                    <!-- Sub items -->
                    <div>
                      <section class="row gx-2 mx-3">
                        <div *ngFor="let itemChil of item?.itemChild" class="col-2">
                          <h3>
                            <mat-slide-toggle></mat-slide-toggle>
                            {{itemChil.name}}
                          </h3>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
  
                <!-- Items sin itemChild -->
                <div *ngIf="!item?.itemChild" class="mx-2">
                    <h3>
                      <mat-slide-toggle></mat-slide-toggle>
                      {{item.name}}
                    </h3>
                </div>
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </form>
</div>