<div class="container mt-5 bg-white shadow-lg rounded border">
  <mat-stepper orientation="vertical" linear="" #stepper>
    <!-- Paso 1 -->
    <mat-step
      label="{{ 'forgotPassword.step-2.recoverPassword' | translate }}"
      [completed]="email.valid"
    >
      <form class="mt-4">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'forgotPassword.step-1.email' | translate }}</mat-label>
          <input type="email" matInput [formControl]="email" />
        </mat-form-field>
      </form>
      <button mat-button (click)="goBack()">
        {{ 'forgotPassword.step-1.goBack' | translate }}
      </button>
      <button
        mat-button
        matStepperNext
        [disabled]="email.invalid"
        (click)="sendEmail()"
      >
        {{ 'forgotPassword.step-1.following' | translate }}
      </button>
    </mat-step>

    <!-- Paso 2 -->
    <mat-step
      label="{{ 'forgotPassword.step-2.changePassword' | translate }}"
      [completed]="form.valid"
    >
      <form [formGroup]="form">
        <mat-form-field>
          <!-- Correo -->
          <mat-label>{{ 'forgotPassword.step-2.email' | translate }}</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>

        <!-- Codigo Verificacion -->
        <mat-form-field>
          <mat-label>{{
            'forgotPassword.step-2.verificationCode' | translate
          }}</mat-label>
          <input type="text" matInput formControlName="code" />
          <!-- Errores -->
          <mat-error *ngIf="form.get('code')?.hasError('required')">
            {{ 'forgotPassword.step-2.required' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- Nueva contraseña -->
        <mat-form-field class="mb-3">
          <mat-label>{{
            'login.password.enterPassword' | translate
          }}</mat-label>
          <input
            matInput
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword"
          >
            <mat-icon>{{
              hideNewPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>

          <!-- Errores -->
          <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            {{ 'forgotPassword.step-2.required' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
            {{ 'forgotPassword.step-2.minLength' | translate }}
          </mat-error>
          <mat-hint
            *ngIf="form.get('newPassword')?.hasError('correctPassword')"
          >
            {{ 'forgotPassword.step-2.passwordInstructions' | translate }}
          </mat-hint>
        </mat-form-field>

        <!-- Confirmar contraseña -->
        <mat-form-field>
          <mat-label>{{
            'login.password.enterPassword' | translate
          }}</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmNewPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{
              hideConfirmPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>

          <!-- Errores -->
          <mat-error
            *ngIf="form.get('confirmNewPassword')?.hasError('required')"
          >
            {{ 'forgotPassword.step-2.required' | translate }}
          </mat-error>
          <mat-error
            *ngIf="form.get('confirmNewPassword')?.hasError('minlength')"
          >
            {{ 'forgotPassword.step-2.minLength' | translate }}
          </mat-error>
          <mat-hint
            *ngIf="form.get('confirmNewPassword')?.hasError('passwordEquality')"
          >
            {{ 'forgotPassword.step-2.passwordEquality' | translate }}
          </mat-hint>
        </mat-form-field>
      </form>
      <button mat-button matStepperPrevious>
        {{ 'forgotPassword.step-2.goBack' | translate }}
      </button>
      <button
        mat-button
        matStepperNext
        [disabled]="form.invalid"
        (click)="sendPassword()"
      >
        {{ 'forgotPassword.step-2.following' | translate }}
      </button>
    </mat-step>
  </mat-stepper>
</div>
