@import "src/styles/_variables";

.side{
    width: 60px;
}

.contenedor{
    background-image: url(../../../../assets/paven.png);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}