<div class="row contenedor overflow-auto">
  <section class="col-1">
    <app-nav-bar></app-nav-bar>
  </section>

  <section class="col-11 mb-2 mt-5">
    <div class="container-fluid">
      <div class="row card mt-5 mx-2">
        <section class="col-12 info bg-dark">
          <i class="bi bi-clipboard-fill"></i>
          <p class="mx-3 mt-3" *ngIf="this.mode === 'add'">
            {{ 'createOrder.create' | translate }}
          </p>
          <p class="mx-3 mt-3" *ngIf="this.mode === 'edit'">
            {{ 'createOrder.edit' | translate }}
          </p>
        </section>

        <section class="col-12 s mt-5">
          <form class="row mb-3">
            <!-- Clientes -->
            <mat-form-field class="col-xl-4 col-lg-6" appearance="fill">
              <mat-label>{{ 'createOrder.customer' | translate }}</mat-label>
              <input
                type="text"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                  (click)="addClient(option)"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>

              <!-- Errores -->
              <mat-error *ngIf="myControl.hasError('required')">
                {{ 'createOrder.required' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Productos -->
            <mat-form-field class="col-xl-4 col-lg-6">
              <mat-label>{{ 'createOrder.products' | translate }}</mat-label>
              <mat-select [formControl]="products" multiple>
                <mat-option
                  *ngFor="let product of productsApi"
                  [value]="product.id"
                  (click)="calcularPrecio(product.id)"
                  >{{ product.name }}</mat-option
                >
              </mat-select>

              <!-- Errores -->
              <mat-error *ngIf="products.hasError('required')">
                {{ 'createOrder.required' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Precio -->
            <mat-form-field class="col-xl-4">
              <mat-label>{{ 'createOrder.price' | translate }}</mat-label>
              <input matInput type="text" [formControl]="totalPrice" />
            </mat-form-field>
          </form>

          <div class="button mb-5 mx-3">
            <button
              class="btn btn-dark"
              (click)="action()"
              [disabled]="products.invalid || myControl.invalid"
            >
              {{ 'createOrder.save' | translate }}
            </button>
            <button class="btn btn-warning mx-4" (click)="cancel()">
              {{ 'createOrder.cancel' | translate }}
            </button>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
