.container{
  width: 400px;
  height: 500px;
  margin-top: 5rem;
  padding: 0;

  form{
    padding: 1rem;
    .login{
      display: flex ;
      justify-content: center;
    }
  }

  .btn-login{
    width: 80%;
    margin: auto;

    .btn-dark{
      width: 100%;
      padding: .5rem;
    }
  }

  .password{
    display: flex;
    justify-content: center;
  }
}
