@import "src/styles/_variables";

.img{
  background-image: url(../../../../assets/paven.png);
  width: 100%;
  height: 100%;
  padding: 0.1px;
}

.encabezado{

  h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight:900;
    font-size: 2rem;
  }

}

.container{
  width: 350px;
  height: 550px;
  margin:  5rem auto;
  z-index: 100;

  form{
    padding: 1rem;
    .login{
      display: flex ;
      justify-content: center;
    }
  }

  .btn-login{
    width: 80%;
    margin: auto;
    
    .btn-danger{
      background-color: $rgb_4-color;
      width: 100%;
      padding: .5rem;
    }
  }

  .password{
    display: flex;
    justify-content: center;
  }
}

.here{
  color: $rgb_4-color;
  text-decoration: none;
}

@media screen and (max-width: 400px){
  .container{
    width: 340px;
  }
}