<div class="container shadow-lg rounded border">
  <form [formGroup]="loginForm">
    <div class="row mt-5">
      <mat-form-field class="col-12">
        <mat-label>{{ 'login.email.enterEmail' | translate }}</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>{{ 'login.password.enterPassword' | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <div class="btn-login">
    <button
      class="btn btn-dark rounded-pill"
      [disabled]="loginForm.invalid"
      (click)="logIn()"
    >
      Iniciar Sesion
    </button>
  </div>

  <div class="password mt-3">
    <p>{{ 'login.password.forgotPassword' | translate }}</p>
    <p class="mx-1">
      <a routerLink="/security/forgotPassword">
        {{ 'login.password.here' | translate }}
      </a>
    </p>
  </div>
</div>
