<div class="container-form">
  <div class="encabezado mb-2">
    <h1 *ngIf="mode === 'add'">{{ 'form.add' | translate }}</h1>
    <h1 *ngIf="mode === 'edit'">{{ 'form.edit' | translate }}</h1>
  </div>

  <!-- Formulario -->
  <form [formGroup]="form">
    <div class="row gx-4">
      <!--Nombre producto  -->
      <mat-form-field class="col-xl-5 col-lg-6">
        <mat-label class="">{{ 'form.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('textOnly')">
          {{ 'products.textOnly' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Codigo -->
      <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
        <mat-label class="">{{ 'products.code' | translate }}</mat-label>
        <input type="text" matInput formControlName="code" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('code').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Codigo de barras -->

      <mat-form-field class="col-xl-2 col-lg-3 col-md-6">
        <mat-label class="">{{ 'products.codeBar' | translate }}</mat-label>
        <input matInput type="text" formControlName="codeBar" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('codeBar').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Tiempo de entrega -->
      <mat-form-field class="col-xl-2 col-lg-3">
        <mat-label class="">{{ 'products.sendDates' | translate }}</mat-label>
        <input matInput type="text" formControlName="sendDates" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('sendDates').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!--Descripcion  -->
      <mat-form-field class="col-xl-7 col-lg-9">
        <mat-label class="">{{ 'products.description' | translate }}</mat-label>
        <input matInput type="text" formControlName="description" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('description').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Empresa -->
      <mat-form-field class="col-xl-4 col-md-6">
        <mat-label class="">{{ 'products.company' | translate }}</mat-label>
        <input matInput type="text" formControlName="company" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('company').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Disponibilidad del producto -->
      <mat-form-field class="col-xl-4 col-md-6">
        <mat-label class="">{{ 'products.avaibality' | translate }}</mat-label>
        <input type="text" matInput formControlName="avaibality" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('avaibality').hasError('required')">
          {{ 'form.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <!-- Botones -->
  <div class="buttons">
    <button
      class="btn btn-danger button"
      [disabled]="form.invalid || buttonStatus"
      (click)="action()"
    >
      {{ 'form.save' | translate }}
    </button>
    <button
      type="button"
      *ngIf="mode === 'edit'"
      class="btn btn-warning button"
      (click)="changeMode()"
    >
      {{ 'form.plus' | translate }}
    </button>
  </div>
</div>
