@import "src/styles/_variables";

.container-form {
    height: 100%;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bi {
            font-size: 3rem;
            font-weight: bold;
            color: $color-power-false;
            cursor: pointer;
        }

        .green {
            color: $color-power-true;
        }

    }

    form {
        height: 40%;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 50%;

        .button {
            height: 50px;
        }

        .btn-warning {
            font-size: 2em;
            background-color: $background-color-btn;
            color: $color-button;
            border: none;
            transition: 300ms;

            &:hover {
                background-color: $background-color-btn-hover;
                color: $color-button;
                transform: rotate(360deg);
            }
        }
    }
}