<div>
  <app-nav-bar></app-nav-bar>
</div>

<div class="container">
  <div class="row gx-5 gy-2">
    <section class="col-12 mt-3">
      <h1>{{ 'users.user' | translate }}</h1>
    </section>

    <!-- Listado usuarios -->
    <section class="col-md-4">
      <div class="p-3">
        <div class="search row bg-white shadow-lg">
          <div class="col-10">
            <input
              type="text"
              placeholder="{{ 'placeholder' | translate }}"
              [formControl]="searchValue"
            />
          </div>

          <div class="col-2 mt-3 search-icon">
            <mat-icon (click)="searchParams()" matSuffix>search</mat-icon>
          </div>
        </div>
        <div class="mt-3 listado">
          <ul class="list-group">
            <app-list
              *ngFor="let user of users"
              [params]="user"
              (clickParam)="clickUser($event)"
            ></app-list>
          </ul>
        </div>
        <mat-paginator
          [length]="users.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          aria-label="Select page"
          (page)="getPage($event)"
        >
        </mat-paginator>
      </div>
    </section>

    <!-- Panel usuarios -->
    <section class="col-md-8 mt-4">
      <div class="border p-3 panel shadow-lg bg-white p-5">
        <app-form
          (userActions)="receiveAction($event)"
          [mode]="mode"
          (changeModeParent)="changeModeAdd($event)"
        ></app-form>
        <!--<app-edit-user></app-edit-user>-->
      </div>
    </section>
  </div>
</div>
