<div class="container-form">
  <!-- Encabezado -->
  <div class="encabezado mb-2">
    <h1 *ngIf="mode === 'add'">{{ 'customers.add' | translate }}</h1>
    <h1 *ngIf="mode === 'edit'">{{ 'customers.edit' | translate }}</h1>
  </div>

  <!-- Formulario -->
  <form [formGroup]="form">
    <div class="row gx-4 gy-3">
      <!-- Name -->
      <mat-form-field class="col-lg-6">
        <mat-label>{{ 'customers.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />

        <!-- Mensajes de error -->
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          {{ 'customers.required' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('textOnly')">
          {{ 'customers.textOnly' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- DPI -->
      <mat-form-field class="col-lg-3 col-md-6">
        <mat-label>{{ 'customers.DPI' | translate }}</mat-label>
        <input matInput type="text" formControlName="DPI" maxlength="13" />

        <!-- Mensajes de error -->
        <mat-hint> {{ form.get('DPI').value?.length }}/13 </mat-hint>
        <mat-error *ngIf="form.get('DPI')?.hasError('numbersOnly')">
          {{ 'customers.numbersOnly' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- NIT -->
      <mat-form-field class="col-lg-3 col-md-6">
        <mat-label>{{ 'customers.NIT' | translate }}</mat-label>
        <input matInput type="text" formControlName="NIT" maxlength="10" />

        <!-- Mensajes de error -->
        <mat-hint> {{ form.get('NIT').value?.length }}/10 </mat-hint>
        <mat-error *ngIf="form.get('NIT')?.hasError('numbersOnly')">
          {{ 'customers.numbersOnly' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Pasaporte -->
      <mat-form-field class="col-md-3">
        <mat-label>{{ 'customers.passport' | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="passport"
          maxlength="9"
          placeholder="AA000000A"
        />

        <!-- Mensajes de error -->
        <mat-hint>
          {{ 'customers.format' | translate }}
          {{ form.get('passport').value?.length }}/9
        </mat-hint>
        <mat-error *ngIf="form.get('passport')?.hasError('required')">
          {{ 'customers.required' | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('passport')?.hasError('required') &&
            form.get('passport')?.hasError('Passport')
          "
        >
          {{ 'customers.invalidPassport' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Direccion -->
      <mat-form-field class="col-md-9">
        <mat-label>{{ 'customers.direction' | translate }}</mat-label>
        <input matInput type="text" formControlName="address" />

        <!-- Mensajes de errores -->
        <mat-error *ngIf="form.get('address')?.hasError('required')">
          {{ 'customers.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <!-- Botones -->
  <div class="buttons">
    <button
      type="button"
      class="btn btn-danger button"
      [disabled]="form.invalid || buttonStatus"
      (click)="action()"
    >
      {{ 'customers.save' | translate }}
    </button>

    <button
      type="button"
      *ngIf="mode === 'edit'"
      class="btn btn-warning button"
      (click)="changeMode()"
    >
      {{ 'customers.plus' | translate }}
    </button>
  </div>
</div>
