@import "src/styles/_variables";

/* .side{
    width: 130px;
} */

.row {
    margin-left: 0;
}

.contenedor {
    background-image: url(../../../../assets/paven.png);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    
}

.encabezado {
    display: flex;
    align-items: center;
    
    h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: -0.5rem;
    }
}

.buttons {
    margin-top: 10px;
    .button {
        height: 40px;
    }

    .btn-warning {
        font-size: 20px;
        background-color: $background-color-btn;
        color: $color-button;
        border: none;
        transition: 300ms;

        &:hover {
            background-color: $background-color-btn-hover;
            color: $color-button;
            transform: rotate(270deg);
        }
    }
}

.table {
    width: 93%;
    min-width: 250px;
    border-radius: 1rem;
    overflow: auto;
}

@media screen and (max-width: 850px) {
    .encabezado {
        h1 {
            font-size: 30px;
        }
    }
}