<li
  class="mb-2 list-group-item rounded-3 li"
  (click)="
    clickParamEvent(
      params.userId || params.profileId || params.customerId || params.productId
    )
  "
>
  <!-- Solo usuarios -->
  <div *ngIf="params.userId">
    {{ params.name }}
    <div>
      {{ params.email }}
    </div>
  </div>

  <!-- Solo perfiles -->
  <div *ngIf="params.profileId">
    {{ params.code }}
    <div>
      {{ params.description }}
    </div>
  </div>

  <!-- Solo Clientes -->
  <div *ngIf="params.customerId">
    {{ params.name }}
    <div>
      {{ params.address }}
    </div>
  </div>

  <!-- Solo productos -->
  <div *ngIf="params.productId">
    {{ params.name }}
    <div>
      {{ params.company }}
    </div>
  </div>
</li>
