@import "src/styles/_variables";

.li{
    background-color: $background-color-li;
    width: 100%;
    transition: 300ms;

    cursor: pointer;

    &:hover{
        background-color: $background-color-hover;
    }
    
    .principal{
        font-weight: bold;
    }
}